.toolbar {
  display: flex;
  justify-content: start;
  background: tomato;
  margin: 0;
  padding: 20px 10px;
}

.text{
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}
