.toolbar {
  display: flex;
  justify-content: center;
  background: tomato;
  margin: 0;
  padding: 20px 10px;
}

.title {
  font-size: 23px;
  font-weight: bold;
  font-style: italic;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}
