<div class="wrapper">
  <app-toolbar></app-toolbar>
  <div class="main">
    <div class="container">
      <div class="main-block">
        <h3 class="title">Form Added</h3>
        <div class="form-block">
          <app-new-film></app-new-film>
        </div>
        <h3 class="title">All films</h3>
        <div class="cards">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
