.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-block{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.form-block {
  text-align: center;
  padding: 0 20px;
  margin-top: 20px;
  border: 3px solid black;
  border-radius: 7px;
}

.title {
  font-size: 26px;
  font-style: italic;
  border-bottom: 2px solid black;
  padding: 10px;
  margin: 20px 100px;
}
