<form (ngSubmit)="onClickAddFilm()" class="form">
  <label for="name" class="label">Film name:</label>
  <input type="text" name="name" id="name" class="entry-field" [(ngModel)]="name"/>
  <label for="description" class="label">Description:</label>
  <textarea type="text" name="description" id="description" class="entry-field"
            [(ngModel)]="description"></textarea>
  <div>
    <button type="submit" class="btn" [disabled]="name === '' || description === ''">Add</button>
    <div class="lds-spinner" *ngIf="loading">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</form>
