<div class="info-block">
  <ng-container *ngIf="!loading, else preloader">
    <div class="cards-block">
      <p class="text-info" *ngIf="someInfo">{{ someInfo }}</p>
      <div *ngFor="let film of arrayFilms">
        <div class="card">
          <img src="https://c4.wallpaperflare.com/wallpaper/779/691/639/movies-film-reel-technology-projector-8mm-wallpaper-preview.jpg" alt="icon" class="img">
          <div class="card-info">
            <h3 class="card-title">Film name: {{ film.name }}</h3>
            <p class="card-text"><b>Description:</b> {{ film.description }}</p>
          </div>
          <div class="card-btn">
              <button class="btn" (click)="onClickDelete(film.id)" appBtn>X</button>
              <div  class="spinner" *ngIf="deleteFilmId === film.id"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #preloader>
    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </ng-template>
</div>

